<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .container{
        width: 100%;
    }
    .body{
        padding:auto;
        margin:auto;
        width: 50%;
    }
    .content{
        display: flex,
    }
    .content-body{
        display: flex;
        margin-top: 20px;
    }
    .leftColumn{
        padding: 10;
        font-size: 18;
        width: 200;
    }
    .contact{
        font-size: 20;
         font-weight: '200' 
    }
    .rightColumn{
        margin-top: 20
    }
</style>
<body>
    <div class="container">
        <div class="body" >
            
                <div>
                    <h1>
                        Maria Fenyane
                    </h1>
                    <h4>
                        Software Developer
                    </h4>

                </div>
                <div class="content">
                    <div class="content-body">
                        <div class='leftColumn'>
                            <div class="contact">
                                 Contact Details
                            </div>
                            <div >
                                fenyane02@gmail.com
                            </div>
                            <div >
                                0793879978
                            </div>
                            <div >
                                Maria_Lerato
                            </div>
                            <div >
                                Maria Lerato
                            </div>
                        </div>
                        <div class='rightColumn'>
                            <div>
                                <div >
                                    About Me
                                </div>
                                <div>
                                    I am a Software Developer, proficient in HTML5,CSS3 and JavaScript.
                                    Able to create applications using a JavaScript library Reactjs.
                                    Have knowledge in VB.net and Python programming.
                                    Trained Software Development at mlab south africa in Codetribe academy
                                </div>
                            </div>
                            <div>
                                <div  >
                                    Work Experience
                                </div>
                                <div >
                                    <div>
                                        June 2021
                                        Nov 2021
                                    </div>
                                    <div >
                                        Software Development Trainee
                                        Codetribe mlab South Africa
                                        Created websites and web applications using Reactjs. Learnt Scrum and Soft-skills
                                    </div>
                                </div>
                                <div >
                                   Education
                                </div>
                                <div >
                                    <div>
                                        2013 - 2017
                                        2018 - 2020
                                    </div>
                                    <div  >
                                        Derek Kobe Senior Secondary School
                                        Grade 12
                                        Capricorn Tvet college
                                        NC(V) Level 4 in ITC
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div >
                                   References
                                </div>
                                <div >
                                    Tyson Moyahabo Motlhabeng
                                    CodeTribe Facilitator Mlab Limpopo
                                    tyson@mlab.co.za
                                    PC Mothata
                                    System Analysis And Design
                                    Lecturer Capricorn Tvet college
                                    0714262900
                                </div>
                            </div>
                            <div>
                                <div >
                                    Skills
                                </div>
                                <div>
                                    HTML5
                                </div>
                                <div>
                                    CSS3
                                </div>
                                <div>
                                    JavaScript
                                </div>
                                <div>
                                    Ms Word
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
        </div>
    </div>
</body>
</html>