<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="Styles.css"/>
    <title>Document</title>
</head>

<body>
    <!-- Container -->
    <div class="Container">
        <!-- links -->
        <div class="Header">
            <h3>My Portfolio</h3>
            <div class="links">
                <ul>
                   <a href="home">Home  | </a>
                  <a href="About.html">  My Resume   | </a>
                  <a href="MyProjects.html">  My Projects</a> 
                </ul>
               
                
               
            </div>
        </div>
        <!-- Heading -->
        <div class="Header-Content">
            <div class="details">
                <h1>Introduction</h1>
                <h2>My Name Is Maria Fenyane</h2>
                <p>I am a software developer from Capricorn Tvet College where i learnt how to program using JavaScript
                </p>
                <p>I then did my training at mlab South Africa under the CodeTribe Academy where i learnt reactjs, react
                    native, firebase and then mongodb</p>
                <button>Go To Resume</button>
            </div>
            <div class="image">
                <img src="snap1.jpg" alt="maria"  />
            </div>
        
        </div>
        <!-- Languages I know -->
      
            <!-- footer -->
            <div class="footer">
                <h3></h3>
            </div>
        </div>
    </div>
</body>

</html>